[submodule "lookaside/java-1.8.0-openjdk"]
	path = lookaside/java-1.8.0-openjdk
	url = git@github.com:ojdkbuild/lookaside_java-1.8.0-openjdk.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = git@github.com:ojdkbuild/deps_freetype.git
[submodule "tools/bootjdk7"]
	path = tools/bootjdk7
	url = git@github.com:ojdkbuild/tools_bootjdk7.git
[submodule "tools/cmake"]
	path = tools/cmake
	url = git@github.com:ojdkbuild/tools_cmake.git
[submodule "tools/cygwin"]
	path = tools/cygwin
	url = git@github.com:ojdkbuild/tools_cygwin.git
[submodule "tools/make"]
	path = tools/make
	url = git@github.com:ojdkbuild/tools_make.git
[submodule "tools/pkgconfig"]
	path = tools/pkgconfig
	url = git@github.com:ojdkbuild/tools_pkgconfig.git
[submodule "tools/toolchain/directx"]
	path = tools/toolchain/directx
	url = git@github.com:ojdkbuild/tools_toolchain_directx.git
[submodule "tools/toolchain/msvcr100"]
	path = tools/toolchain/msvcr100
	url = git@github.com:ojdkbuild/tools_toolchain_msvcr100.git
[submodule "tools/toolchain/sdk71"]
	path = tools/toolchain/sdk71
	url = git@github.com:ojdkbuild/tools_toolchain_sdk71.git
[submodule "tools/toolchain/vs2010e"]
	path = tools/toolchain/vs2010e
	url = git@github.com:ojdkbuild/tools_toolchain_vs2010e.git
[submodule "tools/zip"]
	path = tools/zip
	url = git@github.com:ojdkbuild/tools_zip.git
[submodule "lookaside/freetype"]
	path = lookaside/freetype
	url = git@github.com:ojdkbuild/lookaside_freetype.git
[submodule "lookaside/zlib"]
	path = lookaside/zlib
	url = git@github.com:ojdkbuild/lookaside_zlib.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = git@github.com:ojdkbuild/deps_zlib.git
[submodule "lookaside/ca-certificates"]
	path = lookaside/ca-certificates
	url = git@github.com:ojdkbuild/lookaside_ca-certificates.git
[submodule "lookaside/tzdata"]
	path = lookaside/tzdata
	url = git@github.com:ojdkbuild/lookaside_tzdata.git
[submodule "lookaside/nspr"]
	path = lookaside/nspr
	url = git@github.com:ojdkbuild/lookaside_nspr.git
[submodule "lookaside/nss"]
	path = lookaside/nss
	url = git@github.com:ojdkbuild/lookaside_nss.git
[submodule "deps/nss"]
	path = deps/nss
	url = git@github.com:ojdkbuild/deps_nss.git
[submodule "lookaside/nss-util"]
	path = lookaside/nss-util
	url = git@github.com:ojdkbuild/lookaside_nss-util.git
[submodule "lookaside/dejavu-fonts"]
	path = lookaside/dejavu-fonts
	url = git@github.com:ojdkbuild/lookaside_dejavu-fonts.git
[submodule "tools/wix"]
	path = tools/wix
	url = git@github.com:ojdkbuild/tools_wix.git
[submodule "tools/wixgen"]
	path = tools/wixgen
	url = git@github.com:ojdkbuild/tools_wixgen.git
[submodule "lookaside/giflib"]
	path = lookaside/giflib
	url = git@github.com:ojdkbuild/lookaside_giflib.git
[submodule "deps/giflib"]
	path = deps/giflib
	url = git@github.com:ojdkbuild/deps_giflib.git
[submodule "lookaside/libpng"]
	path = lookaside/libpng
	url = git@github.com:ojdkbuild/lookaside_libpng.git
[submodule "deps/libpng"]
	path = deps/libpng
	url = git@github.com:ojdkbuild/deps_libpng.git
[submodule "tools/nasm"]
	path = tools/nasm
	url = git@github.com:ojdkbuild/tools_nasm.git
[submodule "lookaside/libjpeg-turbo"]
	path = lookaside/libjpeg-turbo
	url = git@github.com:ojdkbuild/lookaside_libjpeg-turbo.git
[submodule "deps/libjpeg-turbo"]
	path = deps/libjpeg-turbo
	url = git@github.com:ojdkbuild/deps_libjpeg-turbo.git
[submodule "lookaside/curl"]
	path = lookaside/curl
	url = git@github.com:ojdkbuild/lookaside_curl.git
[submodule "lookaside/jansson"]
	path = lookaside/jansson
	url = git@github.com:ojdkbuild/lookaside_jansson.git
[submodule "lookaside/openssl"]
	path = lookaside/openssl
	url = git@github.com:ojdkbuild/lookaside_openssl.git
[submodule "lookaside/popt"]
	path = lookaside/popt
	url = git@github.com:ojdkbuild/lookaside_popt.git
[submodule "tools/perl"]
	path = tools/perl
	url = git@github.com:ojdkbuild/tools_perl.git
[submodule "deps/curl"]
	path = deps/curl
	url = git@github.com:ojdkbuild/deps_curl.git
[submodule "deps/jansson"]
	path = deps/jansson
	url = git@github.com:ojdkbuild/deps_jansson.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = git@github.com:ojdkbuild/deps_openssl.git
[submodule "deps/popt"]
	path = deps/popt
	url = git@github.com:ojdkbuild/deps_popt.git
[submodule "contrib/update-notifier"]
	path = contrib/update-notifier
	url = git@github.com:ojdkbuild/contrib_update-notifier.git
[submodule "tools/toolchain/vs2013e"]
	path = tools/toolchain/vs2013e
	url = git@github.com:ojdkbuild/tools_toolchain_vs2013e.git
[submodule "lookaside/java-9-openjdk"]
	path = lookaside/java-9-openjdk
	url = git@github.com:ojdkbuild/lookaside_java-9-openjdk.git
[submodule "tools/bootjdk8"]
	path = tools/bootjdk8
	url = git@github.com:ojdkbuild/tools_bootjdk8.git
[submodule "tools/cygwin64"]
	path = tools/cygwin64
	url = git@github.com:ojdkbuild/tools_cygwin64.git
